*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  padding: 1rem 0;
}

.btn {
  background: #333;
  padding: 1rem 2rem;
  border: 1px solid #666;
  display: inline-block;
  border-radius: 3px;
  margin: 0.5rem 0;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #eaeaea;
    color: #333;
  }
}

@function set-text-color($bg-color) {
  @if (lightness($bg-color) > 70) {
    @return #333;
  } @else {
    @return #eaeaea;
  }
}

@mixin set-bg($bg-color) {
  background-color: $bg-color;
  color: set-text-color($bg-color);
}

// SHOWCASE
#showcase {
  min-height: 45rem;

  .bg-image {
    position: absolute;
    background: url(https://static.pexels.com/photos/248515/pexels-photo-248515.png)
      no-repeat center center/cover;
    width: 100%;
    height: 45rem;
    opacity: 0.3;
    z-index: -1;
  }

  h1 {
    padding-top: 10rem;
  }

  .content-wrap {
    padding: 0 2rem;
  }
}

// SECTION-A
#section-a {
  @include set-bg(#eaeaea);
  padding-bottom: 2rem;

  .content-wrap {
    padding: 0 2rem;
  }
}

// SECTION-B
#section-b {
  padding: 3rem 2rem 2rem;

  li {
    margin-bottom: 1.5rem;
    @include set-bg(#eaeaea);
  }
}

.card-content {
  padding: 2rem;
}

// SECTION-C
#section-c {
  @include set-bg(#eaeaea);
  padding: 3rem;
}

// SECTION-D
#section-d {
  .box {
    padding: 3rem;

    &:first-child {
      @include set-bg(#2690d4);
    }
  }
}

// FOOTER
#main-footer {
  padding: 2rem;
  @include set-bg(#000);
}
